<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <!-- <a><img src="../../assets/logo3.png" height="40" width="40"></a> -->
        <a style="margin-left: 4; font-size:x-large;" [routerLink]="'/landing-page'"><STRONG>HOTBYTE</STRONG></a>


        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

    </div>

    <img src="../../assets/landing.jpg" alt="landing image">

    <div class="form-box">
        <div class="header-text">
            Customer Registration
        </div>

        <form #formData="ngForm" (ngSubmit)="registerCustomer(formData)">
            <div>
                <label for="custName">Name</label>
                <input type="text" name="custName" required minlength="2" #custName="ngModel" placeholder="Enter your full name"
                    [(ngModel)]="customer.custName">
                <span style="color:red" *ngIf="custName.touched && custName.invalid && custName.errors?.['required']">Full name is required</span>
                <span style="color:red" *ngIf="custName.touched && custName.invalid && custName.errors?.['minlength']">Name should be at least 2 characters long</span>
            </div>
            <div>
                <label for="gender">Gender</label>
                <input type="text" name="gender" required pattern="(male|female)" #gender="ngModel" placeholder="Enter your gender"
                    [(ngModel)]="customer.gender">
                <span style="color:red" *ngIf="gender.touched && gender.errors?.['required']">Gender is required</span>
                <span style="color:red" *ngIf="gender.touched && gender.errors?.['pattern']">Gender should be either male or female</span>
            </div>
            <div class="input-row">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" required #email="ngModel" placeholder="Enter your email"
                        [(ngModel)]="customer.email">
                    <span style="color:red" *ngIf="email.touched && email.invalid && email.errors?.['required']">Valid email is required</span>
                    <span style="color:red" *ngIf="email.touched && email.invalid && email.errors?.['email']">Please enter a valid email address</span>
                </div>
                <div>
                    <label for="phone">Phone</label>
                    <input type="tel" name="phone" required pattern="[0-9]{10}" #phone="ngModel" placeholder="Enter your phone number"
                        [(ngModel)]="customer.phone">
                    <span style="color:red" *ngIf="phone.touched && phone.invalid && phone.errors?.['required']">Valid phone number is required</span>
                    <span style="color:red" *ngIf="phone.touched && phone.invalid && phone.errors?.['pattern']">Phone number should be 10 digits long</span>
                </div>
            </div>
        
            <!-- Username and Password fields -->
            <div class="input-row">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" required minlength="5" #username="ngModel" placeholder="Enter your username"
                        [(ngModel)]="customer.username">
                    <span style="color:red" *ngIf="username.touched && username.invalid && username.errors?.['required']">Username is required</span>
                    <span style="color:red" *ngIf="username.touched && username.invalid && username.errors?.['minlength']">Username should be at least 5 characters long</span>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required minlength="6" #password="ngModel"
                        placeholder="Enter your password" [(ngModel)]="customer.password">
                    <span style="color:red" *ngIf="password.touched && password.invalid && password.errors?.['required']">Password is required</span>
                    <span style="color:red" *ngIf="password.touched && password.invalid && password.errors?.['minlength']">Password should be at least 6 characters long</span>
                </div>
            </div>
        
            <div class="address-row">
                <div>
                    <label for="houseNo">HouseNumber</label>
                    <input type="text" name="houseNo" required #houseNo="ngModel" placeholder="Enter your house number"
                        [(ngModel)]="customer.addressDTO.houseNo">
                    <span style="color:red" *ngIf="houseNo.touched && houseNo.invalid && houseNo.errors?.['required']">House number is required</span>
                </div>
                <div>
                    <label for="area">Area</label>
                    <input type="text" name="area" required #area="ngModel" placeholder="Enter your area"
                        [(ngModel)]="customer.addressDTO.area">
                    <span style="color:red" *ngIf="area.touched && area.invalid && area.errors?.['required']">Area is required</span>
                </div>
            </div>
            <div class="address-row">
                <div>
                    <label for="landmark">Landmark</label>
                    <input type="text" name="landmark" required #landmark="ngModel" placeholder="Enter your landmark"
                        [(ngModel)]="customer.addressDTO.landmark">
                    <span style="color:red" *ngIf="landmark.touched && landmark.invalid && landmark.errors?.['required']">Landmark is required</span>
                </div>
                <div>
                    <label for="city">City</label>
                    <input type="text" name="city" required #city="ngModel" placeholder="Enter your city"
                        [(ngModel)]="customer.addressDTO.city">
                    <span style="color:red" *ngIf="city.touched && city.invalid && city.errors?.['required']">City is required</span>
                </div>
                <div>
                    <label for="pincode">Pincode</label>
                    <input type="number" name="pincode" required minlength="6" maxlength="6" #pincode="ngModel" placeholder="Enter your pincode"
                        [(ngModel)]="customer.addressDTO.pincode">
                    <span style="color:red" *ngIf="pincode.touched && pincode.invalid && pincode.errors?.['required']">Valid pincode is required</span>
                    <span style="color:red" *ngIf="pincode.touched && pincode.invalid && pincode.errors?.['minlength']">Pincode should be 6 digits long</span>
                </div>
            </div>
        
            <button type="submit" [disabled]="formData.invalid">Submit</button>
        </form>
    </div>


    <footer>
        <div>
            <p>About Us:</p>

            <p>Discover a delightful array of dishes crafted with the finest ingredients.
                Experience the convenience of our food ordering app, bringing the flavors of authenticity to your
                doorstep.
                Whether you're dining solo or sharing with friends and family, our app ensures a seamless and enjoyable
                culinary journey.</p>

        </div>
        <div class="contact-info">
            <a href="mailto:info@example.com">
                <i class="fa fa-envelope"></i>
                Email Us
            </a>
            <a href="tel:+1234567890">
                <i class="fa fa-phone"></i>
                Call Us
            </a>
        </div>
        &copy; 2024 Food Ordering Application. All rights reserved.
    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>

</html>