<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px;">
    <a class="navbar-brand" routerLink="/customer-dashboard"
        style="font-size: x-large;"><strong>HOTBYTE</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <!-- <i class="fa fa-user" style="font-size: 20px; color: white;"></i> -->
                <a class="nav-link" [routerLink]="'/orders/'+getCustomerIdFromLocalStorage()">My Orders </a>
            </li>

            <li class="nav-item">
                <!-- <i class="fa fa-shopping-cart" style="font-size: 20px; color: white;"></i> -->
                <a class="nav-link" [routerLink]="'/cart/'+getCustomerIdFromLocalStorage()">Cart</a>
            </li>

            <li class="nav-item">
                <!-- <i class="fa fa-shopping-cart" style="font-size: 20px; color: white;"></i> -->
                <a class="nav-link" [routerLink]="'/customer-profile/'+getCustomerIdFromLocalStorage()">Profile</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Log out</a>
            </li>


        </ul>
        
    </div>
</nav>



<div *ngIf="customerData">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <label for="custName">Customer Name</label>
      <input class="form-control" type="text" id="custName" name="custName" formControlName="custName" value="{{customerData.custName}}" required>
    
      <label for="gender">Gender</label>
      <input type="text" id="gender" formControlName="gender" required>
    
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" required>
    
      <label for="phone">Phone</label>
      <input type="tel" id="phone" formControlName="phone" required>
    
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" required>
    
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" required>
    
      <!-- Nested form group for 'address' -->
    <div formGroupName="addressDTO">
        <label for="houseNo">House No</label>
        <input type="text" id="houseNo" formControlName="houseNo" required>
  
        <label for="area">Area</label>
        <input type="text" id="area" formControlName="area" required>
  
        <label for="landmark">Landmark</label>
        <input type="text" id="landmark" formControlName="landmark" required>
  
        <label for="city">City</label>
        <input type="text" id="city" formControlName="city" required>
  
        <label for="pincode">Pincode</label>
        <input type="number" id="pincode" formControlName="pincode" required>
      </div>
    
      <button type="submit" >Update</button>
    </form>
  </div>
  