<!-- <p>display-restaurants works!</p> -->
<div class="d-flex justify-content-between align-items-center">
    <h2><strong>  Restaurants List</strong></h2>
    <button type="button" class="btn btn-primary" [routerLink]="['/admin-dashboard/add-restaurant']">Add</button>
  </div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Restaurant Id</th>
                <th>Restaurant Name</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restaurant of pagedRestaurantList">
                <td>{{ restaurant.restaurantId }}</td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.location }}</td>
                <td>{{ restaurant.contactNumber }}</td>
                <td>{{ restaurant.rating }}</td>
                <td>
                    <button type="button" (click)="removeRestaurant(restaurant.restaurantId)"

                        class="btn btn-primary"><i class="fa fa-trash"></i></button>
                </td>
               
            </tr>
        </tbody>
    </table>
    <!-- Pagination controls -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="totalItems"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>
