* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #eff2f5;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;

}

.sideBar {
    position: relative;
    z-index: 20;
    height: 100vh;
    width: 25%;
    color: white;

    background-color: #000F1A;
    transition: 0.3s ease-in-out;
    justify-content: center;


}

.toggle-button {
    display: none;
    /* Hide the toggle button by default */
    position: fixed;
    /* Position the toggle button relative to the viewport */
    top: 20px;
    /* Adjust the top position as needed */
    left: 20px;
    /* Adjust the left position as needed */
    z-index: 9999;
    background-color: #000F1A;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.fa-bars {
    color: #ffffff;
    /* Set color of the bars */
    font-size: 20px;
    /* Adjust the size of the bars */
}





.sideBar a {
    text-decoration: none;
    color: white;
}


.sideBar a:hover {
    color: white;
}

.sideBar img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sideBar div {
    position: relative;
    height: 10vh;
    background-color: #ffffff;
}

.sideBar li {
    padding: 20px 20px 20px 10px;

}

li label.hideMenuList {
    display: none;
}

.sideBar li i {
    margin-right: 8px;
}

.sideBar li:hover {

    background-color: #7ba5c3;
}

.selected {


    background-color: #fcfeff;
}



.sideBar span {
    position: absolute;
    color: #ffffff;
    top: 20px;
    right: 20px;
}


.sidebar-header {
    display: flex;
}

.content {
    width: 100%;
    height: 100vh;

}

header {
    background-color: #ffffff;
    height: 10%;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.content-data {
    background-color: #ffffff;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;

}

.sideBar.showMenu {
    left: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #0092ff;
}

@media(max-width:1200px) {
    .sideBar {
        width: 30%;
    }
}

@media(max-width:900px) {
    #desktop {
        display: block;
    }

    #mobile {
        display: block;
    }

    .sideBar {
        position: absolute;
        width: 40%;
        height: auto;
       
        top: 0;
        left: -100%;
    }

    .sideBar .cross-icon {
        display: block;
    }

    .toggle-button {
        display: block;
    }


    .sideBar li {
        font-size: 14px;
    }

}