<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <!-- <a><img src="../../assets/logo3.png" height="40" width="40"></a> -->
        <a style="margin-left: 4; font-size:x-large;" routerLink="/landing-page"><STRONG>HOTBYTE</STRONG></a>
       

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        
    </div>

        <img src="../../assets/homepage.jpg" height="724" width="1536">

        <div class="form-box">
            <div class="header-text">
                Admin Login
            </div>
            
            <form   #formData=ngForm  (ngSubmit)="readFormData(formData)" >
                <div >
                  <label for="exampleInputEmail1">Username</label>
                  <input type="username"  name="username"  required  #username="ngModel" placeholder="Enter your username" ngModel       >
                 
                  <span style="color:red"  *ngIf="username.touched && username.invalid" >email is required</span>
                </div>
                <div >
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password"  name="password"  required  #pwd="ngModel" placeholder="Enter your password"  ngModel>
                  <span style="color:red"   *ngIf="pwd.touched && pwd.invalid" >Password is mandartory</span>
                </div>
               
                <button type="submit"  [disabled]="formData.invalid"  >Submit</button>

              </form>
        </div>

        <footer>
            <div>
                <p>About Us:</p>
                
                    <p>Discover a delightful array of dishes crafted with the finest ingredients. 
                        Experience the convenience of our food ordering app, bringing the flavors of authenticity to your doorstep. 
                        Whether you're dining solo or sharing with friends and family, our app ensures a seamless and enjoyable culinary journey.</p>

            </div>
            <div class="contact-info">
                <a href="mailto:info@example.com">
                    <i class="fa fa-envelope"></i>
                    Email Us
                </a>
                <a href="tel:+1234567890">
                    <i class="fa fa-phone"></i>
                    Call Us
                </a>
            </div>
            &copy; 2024 Food Ordering Application. All rights reserved.
        </footer>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
</body>

</html>