
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form [formGroup]="registerDiscountForm" class="container col-md-5 border p-4 rounded"
      (ngSubmit)="insertDiscount()" method="post" style="margin-top: 20px;">

    <div class="form-group">
        <label for="discountPercentage">Discount percentage</label>
        <input type="number" formControlName="discountPercentage" placeholder="Enter the discount percentage here" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && registerDiscountForm.get('discountPercentage')?.errors }" step="0.01">
        <div *ngIf="submitted && registerDiscountForm.get('discountPercentage')?.errors" class="invalid-feedback">
            <div *ngIf="registerDiscountForm.get('discountPercentage')?.errors?.['required']">Percentage is required</div>
            <div *ngIf="registerDiscountForm.get('discountPercentage')?.errors?.['max'] || registerDiscountForm.get('discountPercentage')?.errors?.['min']">
                Percentage must be between 0 and 100
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" formControlName="startDate" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && registerDiscountForm.get('startDate')?.errors }">
        <div *ngIf="submitted && registerDiscountForm.get('startDate')?.errors" class="invalid-feedback">
            <div *ngIf="registerDiscountForm.get('startDate')?.errors?.['required']">Start date is required</div>
            <div *ngIf="registerDiscountForm.get('startDate')?.errors?.['minDate']">Start date should be current or later</div>
        </div>
    </div>

    <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" formControlName="endDate" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && registerDiscountForm.get('endDate')?.errors }">
        <div *ngIf="submitted && registerDiscountForm.get('endDate')?.errors" class="invalid-feedback">
            <div *ngIf="registerDiscountForm.get('endDate')?.errors?.['required']">End date is required</div>
            <div *ngIf="registerDiscountForm.get('endDate')?.errors?.['minStartDate']">End date should be greater than start date</div>
        </div>
    </div>

    <br>
    <button type="submit" [disabled]="!registerDiscountForm.valid" class="btn btn-primary">Add Discount</button>
</form>

</body>

</html>
