<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <!-- <a><img src="../../assets/logo3.png" height="40" width="40"></a> -->
        <a style="margin-left: 4; font-size:x-large;" [routerLink]="'/landing-page'"><STRONG>HOTBYTE</STRONG></a>
       

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        
    </div>

    <img src="../../assets/landing.jpg" alt="landing image" height="728" width="1536">

        <div class="form-box">
            <div class="header-text">
                Customer Login
            </div>
            
            <form   #formData=ngForm  (ngSubmit)="readFormData(formData)" >
                <div >
                    <label for="exampleInputEmail1">Username</label>
                    <input type="username"  name="username"  required  #username="ngModel" placeholder="Enter your username" ngModel       >
                    <!-- <small id="userHelp" class="form-text text-muted">We'll never share your user details with anyone else.</small><br> -->
                    <span style="color:red"  *ngIf="username.touched && username.invalid" >Username is required</span>
                  </div>
                <div >
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password"  name="password"  required  #pwd="ngModel" placeholder="Enter your password"  ngModel>
                  <span style="color:red"   *ngIf="pwd.touched && pwd.invalid" >Password is mandatory</span>
                </div>
               
                <button type="submit"  [disabled]="formData.invalid"  >Submit</button>

                <p  (click)="passwordUpdation()">Forgot password ? Please Click Here</p>

              </form>
        </div>

       
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
</body>

</html>
