.table{
    border: 2px solid black;
}

.table th{
    background-color:#186ca9 ;
    border: 2px solid black;
}

.table td{
    border: 2px solid black;
}

.table tbody tr:nth-child(even) td {
    background-color:rgb(224, 221, 221);
}