<div class="d-flex justify-content-between align-items-center">
    <h2><strong> Orders List</strong></h2>

</div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Total cost</th>
                <th>Customer Name</th>
                <th>Contact No.</th>
                <th>Full Address</th>
                <th>MenuItems - quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of OrderList">
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>
                    <select [(ngModel)]="order[2]" (change)="onStatusChange(order[0], order[2])">
                        <option value="delivered">delivered</option>
                        <option value="preparing">preparing</option>
                        <option value="Placed">Placed</option>
                        
                    </select>
                <td>{{ order[3] }}</td>
                <td>{{ order[6] }}</td>
                <td>{{ order[7] }}</td> 
                <td>{{ order[8] }}</td> 
                <td>{{ order[10] }}</td> 
            </tr>
        </tbody>
    </table>
    <!-- these are Pagination controls -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="totalItems"
        (page)="onPageChange($event)">
    </mat-paginator> -->
</div>