<div class="form-container">
    <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 4%; padding-top: 4%;padding-left: 4%; padding-right: 4%;"
        *ngIf="managerData$ | async as manager">

        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" style="width: 100%;">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="name">Manager Name</label>
                    <input type="text" [readonly]="editable" class="form-control" id="name"
                        formControlName="name" required>
                    <div
                        *ngIf="updateForm.controls['name'].errors && (updateForm.controls['name'].dirty || updateForm.controls['custName'].touched)">
                        <div *ngIf="updateForm.controls['name'].errors['required']" style="color: red;">
                            Manager Name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    <input type="email" [readonly]="editable" class="form-control" id="email" formControlName="email"
                        required>
                    <div
                        *ngIf="updateForm.controls['email'].errors && (updateForm.controls['email'].dirty || updateForm.controls['email'].touched)">
                        <div *ngIf="updateForm.controls['email'].errors['required']">
                            Email is required.
                        </div>
                        <div *ngIf="updateForm.controls['email'].errors['email']" style="color: red;">
                            Invalid email format.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                    <div
                        *ngIf="updateForm.controls['password'].errors && (updateForm.controls['password'].dirty || updateForm.controls['password'].touched)">

                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="toggleEditable()">
                {{ editable ? 'Edit Profile' : 'Cancel' }}
            </button>
            <button type="submit" [disabled]="updateForm.invalid || editable" class="btn btn-primary"
                *ngIf="!editable">Update Profile</button>
        </form>

    </div>
</div>
