<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
     <title>Payment Success</title>
    
</head>


<body>
    <div class="container">
        <div class="printer-top"></div>

        <div class="paper-container">
            <div class="printer-bottom"></div>

            <div class="paper">
                <div class="main-contents">
                    <div class="success-icon">&#10004;</div>
                    <div class="success-title">
                        Order placed!
                    </div>
                    <div class="success-description">
                        Dear customer thankyou for choosing Hotbyte , your order is on the way to you.
                    </div>
                    <div class="order-details">
                        
                        <div class="complement">Thank You!</div>
                        <button  type="submit" (click)="continueOrdering()">Continue ordering</button>
                    </div>
                </div>
                <div class="jagged-edge"></div>
            </div>
        </div>
    </div>
</body>
</html>
