.container {
    
    max-width: 600px; 

    height: 550px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box; 
    box-shadow: 0 0 20px #042b47;

  }
  
 
  
  label {
    font-weight: bold;
  }
  
  .invalid-feedback {
    color: red;
    font-size: small;
  }
  
  /* Style form controls for responsiveness */
@media (max-width: 576px) {
    .container {
        max-width: calc(100% - 40px); 
    }
}
  