
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px;">
    <a class="navbar-brand" routerLink="/customer-dashboard" style="font-size: x-large;"><strong>HOTBYTE</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <!-- <i class="fa fa-user" style="font-size: 20px; color: white;"></i> -->
          <a class="nav-link" [routerLink]="'/orders/'+getCustomerIdFromLocalStorage()">My Orders </a>
        </li>

        <li class="nav-item">
          <!-- <i class="fa fa-shopping-cart" style="font-size: 20px; color: white;"></i> -->
          <a class="nav-link" [routerLink]="'/cart/'+getCustomerIdFromLocalStorage()">Cart</a>
        </li>

        <li class="nav-item">
          <!-- <i class="fa fa-shopping-cart" style="font-size: 20px; color: white;"></i> -->
          <a class="nav-link" [routerLink]="'/customer-profile/'+getCustomerIdFromLocalStorage()">Profile</a>
      </li>
        
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Log out</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0" (submit)="getMenuByKeyword()">
        <div class="input-group">
          <input id="searchInput" [(ngModel)]="searchMenu" name="searchMenu" class="form-control mr-sm-2" type="search"
            placeholder="Search" aria-label="Search" style="width: 300px;">
          <div class="input-group-append">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </nav>



<!--card-->
<div class="container">
  <br>
  <h1>Menu Items</h1>
 
  
  <div class="row">


    <!-- Dropdown for category-->
    <div class="col-md-3" style="margin-top: 5px;">
      <div class="form-group" style="margin-bottom: 3px;">
        <label for="categoryDropdown"></label>
        <select class="form-control" id="categoryDropdown" [(ngModel)]="selectedCategory" (change)="filterByCategory()"
          style="width: 150px;">
          <option value="">Menu Category</option>
          <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName}}</option>

        </select>
      </div>
    </div>

    <!-- Dropdown for sorting by price range -->
    <div class="col-md-5" style="margin-top: 5px; ">
      <div class="form-group" style="margin-bottom: 3px;">
        <label for="priceRangeDropdown"></label>
        <select class="form-control" id="priceRangeDropdown" [(ngModel)]="selectedPriceRange"
          (change)="sortByPriceRange()" style="width: 150px;">
          <option value="">Price Range</option>
          <option value="0-99">0 - 99</option>
          <option value="100 - 299">100 - 299</option>
          <option value="300 - 499">300 - 499</option>

        </select>
      </div>
    </div>

    <div class="col-md-4" style="margin-top: 5px;">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="dietaryInfo" id="vegRadio" value="veg" [(ngModel)]="selectedDietaryInfo"  (click)="selectedDietaryInfo = 'veg'; searchByDietaryInfo()">
        <label class="form-check-label" for="vegRadio">Vegetarian</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="dietaryInfo" id="nonVegRadio" value="nonveg" [(ngModel)]="selectedDietaryInfo" (click)="selectedDietaryInfo = 'nonveg'; searchByDietaryInfo()">
        <label class="form-check-label" for="nonVegRadio">Non-Vegetarian</label>
      </div>
    </div>
  </div>
  <br>



  <div *ngIf="menuItems.length > 0; else noItems">
    <div class="row">
      <div class="col-md-12" *ngFor="let menuItem of menuItems">
        <div class="card mb-4" style="max-height: 210px;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">{{ menuItem.itemName }}</h2>
                <p class="card-text">Description: {{ menuItem.description }}</p>
                
                <p class="card-text">Price: {{ menuItem.price | currency:'INR'}}</p>
                <button class="btn btn-primary" (click)="addToCart(menuItem.menuItemId, menuItem.price)">Add to
                  Cart</button>
                  
              </div>
            </div>
            <div class="col-md-4">
              <img [src]="menuItem.decodedImage" class="card-img" alt="..." style="max-height: 210px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noItems>
    <p *ngIf="!searchMenu">No menu items available.</p>
    <p *ngIf="searchMenu && menuItems.length === 0">No such menu item available.</p>
  </ng-template>