






<div class="d-flex justify-content-between align-items-center">
    <h2><strong>Customers</strong> </h2>
  </div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>customer Id</th>
                <th>customer Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>username</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of pagedCustomerList">
                <td>{{ customer.custId}}</td>
                <td>{{ customer.custName }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.username }}</td>
                <td>
                    <button type="button" (click)="removeCustomer(customer.custId)"

                        class="btn btn-primary"><i class="fa fa-trash"></i></button>
                </td>
               
            </tr>
        </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [length]="totalItems"
        (page)="onPageChange($event)">
    </mat-paginator>
</div>

